version: 0.2.3
prefix: "&bAkane&fField &7» "
onping:
  normal: "&b请继续刷新服务器列表 &f$1&b/&f$2"
  ready: "&b已通过反机器人认证!"
commands:
  perms: "&fUnknown command. Type \"/help\" for help."
  cleared: "&b已成功清理 &f$1!"
  added: "&f$1&b 已被添加到 &f$2"
  removed: "&f$1&b 已从 &f$2 &b中删除."
  wrong-args: "&b未知命令 请使用 &f/af help &b查看可用命令"
  no-blacklist: "&c未找到有关此玩家的黑名单"
  reload: "&bAkane&fField &b已成功重载配置文件. 部分内容可能需要重启服务器才能生效"
  player-only: "&b此命令仅限玩家可用"
notifications:
  action: "&a已切换机器人显示状态"

# 日志命令
log:
  # "/af logs list %" 当%为非整数(字母 小数 负数etc)时 提示的消息
  invalid-value: "&bw..? 这真的是一个有效的正数吗?"
  # 没有任何攻击日志
  empty: "&b未找到任何符合条件的攻击日志"
  # 寻找攻击日志
  founding: "&b正在列出符合条件的攻击日志.."
  # 提示玩家这是可以点的 如果不需要 设为空
  clicktips: "&f[&bClick&f]"
  # 当鼠标悬浮到日志上时 应该显示什么
  clickhover: ""
  # 具体信息
  # %id% - 日志id 记录攻击模式激活时的次数
  # %attack% - 初始日期 我实在想不到写什么了 之后可能会改
  # %bots% - 阻止的机器人数量
  # %pings% - 阻止的Ping Motd数量
  # %packets% - 阻止的未知数据包数量
  # %avg% - 平均cps
  # %duration% - 持续时间
  #
  # 未添加: %totalblock%
  attack-log:
    - ""
    - "&b日志ID &f %id%"
    - "&b攻击初始日期&f %attack%"
    - "&b黑名单数量&f %blacklist%"
    - "&b阻止机器人数量 &f%bots%"
    - "&b阻止的Ping数量 &f%pings%"
    - "&b阻止的数据包数量 &f%packets%"
    - "&b平均CPS &f%avg%"
    - "&b持续时间 &f%duration%"
    - ""

#连接数占位符: %cps%(每秒连接数) - %bots%(又称JPS. 每秒加入服务器的数量) - %pings%(每秒ping服务器的数量) - %packets%(每秒拦截的数据包数量)
# 至于CPS占位符 仍需要很大的改善 怎么说呢 现在的cps计数器就是过了一秒清零 算不上真正意义上的connection per/sec了 :|
#连接数总计: %totalpackets% - %totalbots% - %totalpings% - %totalblocks%(前三位前辈的加起来)
#基本状态: %whitelist%(白名单统计) - %blacklist%(黑名单统计) - %type%(攻击状态 SlowJoin,FastJoin,Firewall,Motd.Block) - %duration%(时长)
#杂项: %underverification%(未处理的代理检察数量) - %queue%(队列检查缓存数量) - %animation%(▛▜▟▙轮转动画) - %prefix%(前缀) - %durationsec%(持续时长 但是返回秒)
#CPU(已弃用 因侦听降低性能): %syscpu%(系统CPU用量) - %proccpu%(线程CPU用量)  百分比计量 当然 自个加个%就好了
actionbar:
  offline: "%prefix%&bZzz... &7- &bVerify &f%underverification% &7- &bCPS &f%cps% &7- &bWhitelist &f%whitelist% &7- &bBlacklist &f%blacklist%"
  antibot: "%prefix%&bType &f%type% &7- &bConnection &f%connection% &7- &bCPS &f%cps%&7- &bBlocked &f%totalblocks% &7- &bBlacklist &f%blacklist% &7- &bVerify &f%underverification% &7- &bDuration &f%duration%"
  packets: "%prefix%&bType &fFirewall &7- &bConnection &f%connection% &7- &bCPS &f%cps% &7- &bPrevent &f%totalblocks% &7- &bVerify &f%underverification% &7- &bDuration &f%duration%"
# 当前会话中的统计信息
stats:
  - ""
  - "&b当前会话信息"
  - ""
  - "&b已拦截加入 &f%totalbots%"
  - "&bMotd响应次数 &f%totalpings%"
  - "&b已拦截数据包 &f%totalpackets%"
  - "&b白名单数量 &f%whitelist%"
  - "&c黑名单数量 &f%blacklist%"
  - ""

# 注意 此项之后可能会迁移到kick.reason . 因此请保留一份副本
# 也请保留这条消息以作为一个提示 因为修改后可能怒不通知
reason:
  # ... 自己想写什么就写什么吧 给我整不知道咋写了
  names: "MANY_ALTS"
  joins: "JOIN_FLOOD"
  pings: "MOTD_FLOOD"
  # STRANGE_PLAYER是一项综合性检查 说白了 我就是懒得写详细信息(
  # 该检查主要用于防止慢速机器人.
  strange: "奇怪的玩家"
  vpn: "疑似使用VPN或代理"
  admin: "一位管理员将您列入黑名单"
  # ..?
  check: "无法认证您是否是机器人"

# /akanefield <子命令>
help:
  - ""
  - "&b可用子命令列表:"
  - "&bstats &f- &b查看当前代理会话中的统计信息"
  - "&bclear &bblacklist/whitelist &f- &b清理黑名单/白名单"
  - "&bwhitelist &badd/remove &b<ip> &f- &b向白名单添加或删除地址"
  - "&bblacklist &badd/remove &b<ip> &f- &b向黑名单添加或删除地址"
  - "&blogs list <数量> &f- &b返回日志列表"
  - "&blogs last <id> &f- &b查看指定日志的统计信息"
  - "&bfirewall &f- &b查看Linux Centeral防火墙统计信息"
  - "&bcheck &f<id> &f- &b检查玩家是否被黑名单禁止"
  - "&breload &f- &b重载部分配置文件和消息文件."
  - ""

# IPTables & IPSet 不适用于除Linux之外的其它系统! 
# 为了避免垃圾邮件 我们不再在控制台提醒这个(应该是好事吧w=)
# %status%(状态 DISABLED/ENABLED) - %queue%(被用于攻击的IP代理处理队列) - %blacklist%(已被列入黑名单的数量)
firewall-status:
  - ""
  - "&bLinux防火墙状态 &f%status%"
  - ""
  - "&b处理队列 &f%queue%"
  - "&b黑名单数量 &f%blacklist%"
  - ""
blacklist_info:
  - ""
  - "&b黑名单信息"
  - ""
  - "&b理由 &f$reason"
  - "&b地址 &f$ip"
  - "&b用户 &f$nick"
  - "&bID &f$id"
  - ""

# 踢出消息
kick:
  # 全局占位符 你不能异想天开创造属于自己的占位符 它已经在程序内硬编码 如果您不需要 请不要使用或留空 抱歉w..
  # 虽然下方配置没有大小写区分 但是占位符是有大小写区分的 务必注意..
  # 消息内的部分特定 [$占位符] 仅只是更好的解释它们会被替换成什么 实际上跟$1 $2这样子的东西无异..
  url: "&7shioeaxiki.lolwtfmc.me" # [$URL]
  servername: "&bSakuraStarOcean" # [$ServerName]
  line: "" # [$Line]
  # [$Custom?] ?为1-10
  custom1: "&bAkane&fField"
  custom2: "By"
  custom3: "CatMoe Team"
  custom4: "w'"
  custom5: "\\"
  custom6: "酱紫的话"
  custom7: "就不需要改Theme的时候连着改一堆消息啦w!"
  custom8: "虽然我知道这不是什么新奇玩意w.."
  custom9: "但是 它确实很方便"
  custom10: "对吧?"

# 玩家第一次(当前BungeeCord会话)时踢出的消息
first_join:
  - "[$ServerName]"
  - ""
  - "[$Line]"
  - "&b看起来您在服务器启动后从未加入过服务器!"
  - "&b麻烦请重新加入服务器来完成认证 =w="
  - "[$Line]"
  - ""
  - "[$URL]"

# 当玩家刚好在反机器人模式激活后不久加入服务器踢出的消息
# [$queue] = 待处理的IP数量
# [$blacklist] = 当前会话中已被列入黑名单的IP数量
antibotmode:
  - "[$ServerName]"
  - ""
  - "[$Line]"
  - "&c防机器人已启用! 我们暂时无法接纳您的连接w.. 抱歉!"
  - "&b黑名单数量: &f[$queue]&f/&b[$blacklist]"
  - "&7当我们收集完被用来攻击的IP代理后 您就可以进入认证环节啦w!"
  - "[$Line]"
  - ""
  - "[$URL]"

# 当玩家同时登录了太多的账户时踢出的消息
account-online:
  - "[$ServerName]"
  - ""
  - "[$Line]"
  - "&c看起来好像到达登录上限惹!"
  - "&e究竟是什么让你一个游戏都不够用呢"
  - "[$Line]"
  - ""
  - "[$URL]"

# 当反机器人需要玩家通过Ping服务器(即刷新服务器列表) 时踢出的消息
# [$pingcount] = 需要ping的数量
ping:
  - "[$ServerName]"
  - ""
  - "[$Line]"
  - "&b请刷新服务器列表 &f[$pingcount] &b来完成认证! 麻烦了w.."
  - "&7注: 如果您未将服务器加入刷新列表 则需要先添加 再尝试刷新"
  - "[$Line]"
  - ""
  - "[$URL]"

# 当通过Ping认证后 玩家尝试加入踢出玩家时的消息 并指出要在多少秒内重新连接
# [$delay] = 限时 单位为秒
timer:
  - "[$ServerName]"
  - ""
  - "[$Line]"
  - "&b请在 &f[$delay] &b秒内加入服务器w!"
  - "[$Line]"
  - ""
  - "[$URL]"

# 当玩家被列入黑名单尝试加入时被踢出的消息
# [$reason] = 列入黑名单的理由 请看上方的"reason"
# [$id] = 惩罚标识号 虽然没什么用就是 被黑名单了就是被黑名单了 w-
blacklisted:
  - "[$ServerName]"
  - ""
  - "[$Line]"
  - "&cw! 您被列入黑名单惹! ;w;"
  - "&c如果您认为您没有做错什么 请联系管理员!"
  - ""
  - "&b黑名单ID  &f[$id]"
  - "&b理由  &f[$id]"
  - "[$Line]"
  - ""
  - "[$URL]"

fastjoin-queue:
  - "[$ServerName]"
  - ""
  - "[$Line]"
  - "&b您已加入排队队列 请过会再尝试重新加入! w'"
  - "[$Line]"
  - ""
  - "[$URL]"